#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "silverbullet"
name = "SilverBullet"
description.en = "Creative space where you collect, create and expand your personal knowledge"
description.fr = "Espace créatif où vous recueillez, créez et élargissez vos connaissances personnelles"

version = "2.3.0~ynh1"

maintainers = ["fflorent"]

[upstream]
license = "MIT"
website = "https://silverbullet.md"
code = "https://github.com/silverbulletmd/silverbullet"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = [ "amd64", "arm64" ]
multi_instance = true

ldap = false

sso = false

disk = "100M"
ram.build = "50M"
ram.runtime = "250M"

[install]
    [install.domain]
    type = "domain"

    [install.admin]
    help.en = "Choose the user who can access to silverbullet"
    help.fr = "Choisissez l'utilisateur pouvant accéder à silverbullet"
    type = "user"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir=false

    amd64.url = "https://github.com/silverbulletmd/silverbullet/releases/download/2.3.0/silverbullet-server-linux-x86_64.zip"
    amd64.sha256 = "c2ed771ae99540f037f32e4f10e4eae2234e346e4fa44fa1aebd69a4d3de9258"
    arm64.url = "https://github.com/silverbulletmd/silverbullet/releases/download/2.3.0/silverbullet-server-linux-aarch64.zip"
    arm64.sha256 = "1ea272af913b5966b4188ce9ef5fb8789152e8aee95747ca71be2d83ffc96cbd"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^silverbullet-server-linux-x86_64.zip$"
    autoupdate.asset.arm64 = "^silverbullet-server-linux-aarch64.zip$"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = [ "notes" ]

    [resources.permissions]
    main.url = "/"
    main.allowed = "admins"

    [resources.ports]
    main.default = 3000
